<h2 style="text-align: center;">PRIVACY POLICY MODEL FOR MOBILE APPLICATIONS</h2> 
<p>&nbsp;</p> 
<p>This privacy policy governs your use of the software application OW Play of the Game Maker (“Application”) for mobile devices that was created by&nbsp;Unlimited Ambitions.&nbsp;The Application is&nbsp;a video editor that uses the camera to capture videos or uses the videos selected by the user to create an edited video.&nbsp;</p> 
<h4>&nbsp;</h4> 
<h4>What information does the Application obtain and how is it used?</h4> 
<p>&nbsp;</p> 
<p><strong>User Provided Information</strong>&nbsp;</p> 
<p>The Application obtains the information you provide when you download the Application.&nbsp;</p> 
<p>&nbsp;</p> 
<p>We do not collect any personal information.</p> 
<p>&nbsp;</p> 
<p><strong>Automatically Collected Information</strong>&nbsp;</p> 
<p>In addition, the Application may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browsers you use, and information about the way you use the Application.&nbsp;</p> 
<p>&nbsp;</p> 
<h4>&nbsp;</h4> 
<h4>Does the Application collect precise real time location information of the device?</h4> 
<p>&nbsp;</p> 
<p>This Application does not collect precise information about the location of your mobile device.&nbsp;</p> 
<p>&nbsp;</p> 
<h4>Do third parties see and/or have access to information obtained by the Application?</h4> 
<p>&nbsp;</p> 
<p>Yes. We will share your information with third parties only in the ways that are described in this privacy statement.</p> 
<p>We may disclose User Provided and Automatically Collected Information:</p> 
<ul> 
 <li> <p>as required by law, such as to comply with a subpoena, or similar legal process;</p> </li> 
 <li> <p>when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a&nbsp;government request;</p> </li> 
 <li> <p>with our trusted services providers who work on our behalf, do not have an&nbsp;independent use of the information we disclose to them, and have agreed to adhere&nbsp;to the rules set forth in this privacy statement.</p> </li> 
 <li> <p>if&nbsp;Unlimited Ambitions&nbsp;is involved in a merger, acquisition, or sale of all or a&nbsp;portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of this information, as well as any choices you may have regarding this information.</p> </li> 
 <li>to advertisers and third party advertising networks and analytics companies as described in the section below</li> 
</ul> 
<p>&nbsp;</p> 
<h4>Automatic Data Collection and Advertising</h4> 
<p>&nbsp;</p> 
<p>We may work with analytics companies to help us understand how the Application is being used, such as the frequency and duration of usage. We work with advertisers and third party advertising networks, who need to know how you interact with advertising provided in the Application which helps us keep the cost of the Application low. Advertisers and advertising networks use some of the information collected by the Application, including, but not limited to,&nbsp;the unique identification ID of your mobile device and your mobile telephone number.&nbsp;To protect the anonymity of this information, we use&nbsp;an encryption technology to help ensure that these third parties can’t identify you personally. These third parties may also obtain anonymous information about other applications you’ve downloaded to your mobile device, the mobile websites you visit, your non-precise location information (e.g., your zip code), and other non- precise location information in order to help analyze and serve anonymous targeted advertising on the Application and elsewhere.&nbsp;We may also share encrypted versions of information you have provided in order to enable our partners to append other available information about you for analysis or advertising related use.&nbsp;</p> 
<p>&nbsp;We also use Google's advertisement services. Their privacy policy is the following:&nbsp;<a href="https://www.google.com/intl/en/policies/privacy/partners/">https://www.google.com/intl/en/policies/privacy/partners/</a></p> 
<p>&nbsp;</p> 
<p>If you’d like to opt-out from third party use of this type of information to help serve targeted advertising, please visit the section entitled “Opt-out” below.&nbsp;</p> 
<h4>What are my opt-out rights?</h4> 
<p>&nbsp;</p> 
<p>There are multiple opt-out options for users of this Application: &nbsp; &nbsp;</p> 
<p><span style="text-decoration: underline;">Opt-out of all information collection by uninstalling the Application:&nbsp;</span>You can stop all collection of information by the Application easily by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network.</p> 
<p>&nbsp;&nbsp;</p> 
<h4><strong>Data Retention Policy, Managing Your Information</strong></h4> 
<p>We will retain User Provided data for as long as you use the Application and for a reasonable time thereafter. We will retain Automatically Collected information for up to 24 months&nbsp;and thereafter may store it in aggregate. If you’d like us to delete User Provided Data that you have provided via the Application, please contact us at&nbsp;unlimitedambitionsdev@gmail.com&nbsp;and we will respond in a reasonable time. Please note that some or all of the User Provided Data may be required in order for the Application to function properly.</p> 
<p>&nbsp;</p> 
<h4><strong>Children</strong></h4> 
<p>&nbsp;</p> 
<p>We do not use the Application to knowingly solicit data from or market to children under the age of 13. If a parent or guardian becomes aware that his or her child has provided us with information without their consent, he or she should contact us at&nbsp;unlimitedambitionsdev@gmail.com&nbsp;. We will delete such information from our files within a reasonable time.</p> 
<h4>&nbsp;</h4> 
<h4><strong>Security</strong></h4> 
<p>&nbsp;</p> 
<p>We are concerned about safeguarding the confidentiality of your information. We provide physical, electronic, and procedural safeguards to protect information we process and maintain. For example, we limit access to this information to authorized employees and contractors who need to know that information in order to operate, develop or improve our Application. Please be aware that, although we endeavor provide reasonable security for information we process and maintain, no security system can prevent all potential security breaches.</p> 
<p>&nbsp;</p> 
<p>&nbsp;</p> 
<h4><strong>Changes</strong></h4> 
<p>This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy <span style="background-color: #fee9cc;">on the Application page of the Play Store</span>. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes.</p> 
<p>&nbsp;</p> 
<h4><strong>Your Consent</strong></h4> 
<p>By using the Application, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. &quot;Processing,” means using cookies on a computer/hand held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in the United States. If you reside outside the United States&nbsp;your information will be transferred, processed and stored there under United States&nbsp;privacy standards.&nbsp;</p> 
<p>&nbsp;</p> 
<h4>Contact us</h4> 
<p>If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact us via email at&nbsp;unlimitedambitionsdev@gmail.com&nbsp;.</p>